<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  </head>
  <body>
    <% include header.ejs %>
    <h1><%= title %></h1>
    <p>前端测试页面</p>
    <% include footer.ejs %>
  </body>
  <script type="text/javascript" src="javascripts/index.js" defer></script>
</html>
