<header id="header" class="clearfix">
    <div class="g-container">
        <h1 class="logo fl"></h1>
        <nav class="fr">
            <ul class="header-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/front">前端</a></li>
                <li><a href="javascript:;">Nodejs</a></li>
                <li><a href="javascript:;">杂七杂八</a></li>
                <li><a href="javascript:;">关于我</a></li>
            </ul>
        </nav>
    </div>
</header>