.g-container {
   width: 1000px;
   margin: 0 auto;
}
#header {
    background-color: #f9f9f9;
    width: 100%;
}
.logo {
    background: url(../images/logo.png) no-repeat scroll 0 0 transparent;
    height: 50px;
    width: 177px;
}
.header-nav li {
    float: left;
}
#footer {
    bottom: 0;
    width: 100%;
}